<section class="create-product-section">
  <h2>Crear Nuevo Producto</h2>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()" class="form-with-spacing">
        <mat-form-field appearance="outline" class="form-field-spacing">
          <mat-label>Nombre del Producto</mat-label>
          <input matInput formControlName="nombre" placeholder="Nombre del producto">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-spacing">
          <mat-label>Precio</mat-label>
          <input matInput type="number" formControlName="precio" placeholder="Precio">
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field-spacing">
          <mat-label>Descripción</mat-label>
          <input matInput formControlName="description" placeholder="Descripcion">
        </mat-form-field>

        <!--<mat-form-field appearance="outline" class="form-field-spacing">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="status">
            <mat-option value="activo">Activo</mat-option>
            <mat-option value="inactivo">Inactivo</mat-option>
          </mat-select>
        </mat-form-field>-->

        <button mat-raised-button color="primary" type="submit" [disabled]="!productForm.valid">
          Crear Producto
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</section>

<!--productos lista creados para la compañia-->

<section class="orders-section">
    <h2>Lista General Productos</h2>
    <mat-card *ngFor="let product of Productos" class="order-card">
      <mat-card-content>
        <div class="order-header">
          <!-- Información del producto -->
          <div class="order-info">
            <p class="order-title">ID Producto #{{product.id}}</p>
            <p class="order-subtitle">Nombre: {{product.name}}</p>
            <p class="order-subtitle">Precio: {{product.price}}</p>
           
            <mat-chip-set>
              <mat-chip *ngFor="let status of product.statusBrands" [color]="product.statusColor" (click)="changeStatus(product,status)">
                {{ status.nombre }} - {{ status.statusNombre }}
              </mat-chip>
            </mat-chip-set>
          </div>
          
          <!-- Imagen del producto -->
          <div class="order-image">
            <!--<img [src]="product.imageUrl" alt="{{product.name}}" />-->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  








