<section class="orders-section">
    <h2> Productos Sucursal</h2>
    <mat-card *ngFor="let branch of Branches" class="order-card">
      <mat-card-content>
        <div class="order-header" >
          <div>
            <p class="order-title">Sucursal #{{branch.Id}}</p>
            <p class="order-subtitle">{{branch.Nombre}} Direccion • {{branch.Direccion}}</p>
            <p class="order-subtitle">{{branch.status}}</p>
           
            <mat-chip (click)="onProducts(branch)"class="action-chip"> 
              Ver Productos
            </mat-chip>
            
          </div>
          <mat-chip-set>
            <mat-chip [color]="branch.statusColor">
              {{branch.status}}
            </mat-chip>
          </mat-chip-set>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
