
<section class="orders-section">
    <h2> Sucursal</h2>
    <mat-card *ngFor="let branch of Branches" class="order-card">
      <mat-card-content>
        <div class="order-header" >
          <div>
            <p class="order-title">Sucursal #{{branch.Id}}</p>
            <p class="order-subtitle">{{branch.Nombre}} Direccion • {{branch.Direccion}}</p>
            <p class="order-subtitle">{{branch.status}}</p>
            <mat-chip (click)="onBranch(branch)" class="action-chip"> 
              Ordenes
            </mat-chip>
            <!--<mat-chip (click)="onProducts(branch)"class="action-chip"> 
              Productos
            </mat-chip>-->
            <mat-chip (click)="getQrCode(branch)" class="action-chip"> 
              QR Clientes
            </mat-chip>
          </div>
          <mat-chip-set>
            <mat-chip [color]="branch.statusColor">
              {{branch.status}}
            </mat-chip>
          </mat-chip-set>
        </div>
      </mat-card-content>
    </mat-card>
  </section>

  <button mat-raised-button color="primary" (click)="NewBrand()">
    Crear Sucursal
  </button>
<!-- Add this where you want to show the modal -->
<div *ngIf="showQrCode" class="qr-modal" (click)="closeQrCode()">
  <div class="qr-container">
    <qrcode 
      [qrdata]="selectedBranchQr" 
      [width]="256" 
      [errorCorrectionLevel]="'M'">
    </qrcode>
  </div>
</div>