<div class="home-container">
  <div class="welcome-section">
    <h1>Bienvenido A Company</h1>
    <p class="description">
      Company es tu socio de confianza en la gestión efectiva de pedidos. Nuestra plataforma proporciona herramientas potentes para optimizar tu proceso de pedidos, haciendo que las operaciones comerciales sean más fluidas y eficientes.
    </p>
  </div>

  <div class="auth-buttons">
    <a routerLink="login" class="btn btn-primary">Login</a>
    <a routerLink="register" class="btn btn-secondary">Registro</a>
  </div>
</div>
